
  .cabecalho {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #634fa0;
    display: flex;
    align-items: center;
    color: white;
  
    .logo {
      width: 100%;
    }
  
    .nav {
      margin: 0;
      padding: 0;
      width: 100%;
  
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
  
        li {
  
          a {
            color: white;
            text-decoration: none;
            margin-right: 100px;
            font-size: 20px;
  
  
          }
        }
  
      }
  
    }
  
  }
  
  @media (max-width: 768px) {
    .cabecalho {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      width: 100%;
      padding-top: 10px;
    }
  
    .nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .nav li {
      margin: 0;
    }
  }
  
  
  @media (max-width: 480px) {
  .cabecalho {
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }
  
  .logo {
  margin-bottom: 10px;
  }
  
  .nav {
  width: 100%;
  padding-top: 10px;
  }
  
  .nav ul {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  }
  
  .nav li {
  margin: 0;
  }
  
  .nav a {
  font-size: 16px;
  margin-right: 0;
  margin-left: 70px;
  }
  }